{% extends "base.html" %}
{% block title %}Matrículas - Panel Admin{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="d-flex justify-content-between align-items-center mb-3">
  <h1 class="mb-4">Todas las Matrículas</h1>
  <button class="delete-btn" data-bs-toggle="modal" data-bs-target="#modalNuevaMatricula">
    <img src="{{ url_for('static', filename='icons/add.svg') }}" alt="Añadir usuario" width="30" height="30">
  </button>
  </div>
  <table class="table-modern">
    <thead>
      <tr>
        <th>ID</th>
        <th>Matrícula</th>
        <th>Nombre Usuario</th>
        <th>Email</th>
        <th>Estado</th>
        <th>Fecha</th>
      </tr>
    </thead>
    <tbody>
      {% for m in matriculas %}
      <tr>
        <td>{{ m[0] }}</td>
        <td>{{ m[1] }}</td>
        <td>{{ m[2] }} {{ m[3] }}</td>
        <td>{{ m[4] }}</td>
        <td>
            <span class="status-badge 
              {% if m[5] == 'autorizada' %}authorized
              {% elif m[5] == 'pendiente' %}pending
              {% else %}denied{% endif %}">
              {{ m[5]|capitalize }}
            </span>
          </td>          
        <td>{{ m[6] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="modal fade" id="modalNuevaMatricula" tabindex="-1" aria-labelledby="modalNuevaMatriculaLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form method="POST" action="{{ url_for('solicitar_matricula') }}">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalNuevaMatriculaLabel">Registrar nueva matrícula</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="matricula" class="form-label">Matrícula</label>
            <input type="text" class="form-control" name="matricula" id="matricula" required pattern="\d{4}[A-Z]{3}" placeholder="1234ABC">
          </div>
          <div class="mb-3">
            <label for="usuario_id" class="form-label">Asignar a usuario</label>
            <select name="usuario_id" id="usuario_id" class="select-rol" required>
              <option value="" disabled selected>Selecciona un usuario</option>
              {% for u in usuarios %}
                <option value="{{ u.id }}">{{ u.nombre }} {{ u.apellidos }} ({{ u.email }})</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
