{% extends "base.html" %}
{% block title %}Solicitar Matrícula{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
  <div class="card shadow p-4" style="width: 100%; max-width: 500px;">
    <h3 class="text-center mb-4">Solicitar Registro de Matrícula</h3>

    <form method="POST" action="{{ url_for('matriculas.solicitar_matricula') }}">
      <div class="mb-3">
        <label for="matricula" class="form-label">Matrícula</label>
        <input type="text" class="form-control text-uppercase" id="matricula" name="matricula"
               pattern="[0-9]{4}[A-Za-z]{3}" title="Formato válido: 1234ABC (4 números seguidos de 3 letras)" required>
      </div>
      <div class="d-grid">
        <button type="submit" class="btn btn-primary">Solicitar</button>
      </div>
    </form>
  </div>
</div>


{% endblock %}
