body {
    background-color: #0c1822;
    color: white;
}

.navbar {
    border-bottom: 2px solid #14b3f2;
}

.navlink {
    color: white;
}

/* Estilo para los content areas */
.container {
  background-color: #0c1822;
}

/* Estilos del card */
.card {
  background-color: #172a3a; /* Un poco mas claro que el background */
  border: none;
  color: #f8f9fa;
}

/* Estilo del botón */
.btn-primary {
  background-color: #2a6496;
  border-color: #2a6496;
}

.btn-secondary {
  background-color: #495057;
  border-color: #495057;
}

/* Ajustar los colores de los link */
a {
  color: #8ab4f8;
}

a:hover {
  color: #aecbfa;
}